/* u3c3.com@yahoo.com */
div[class*=ADTOPLB_],
/* javbus */
.ad-table,
.ad-list {
  display: none !important;
}


#ad_text {
  display: none !important;
}

/* 91论坛 */
.cont6 {
  display: none !important;
}